<mat-toolbar>
  <button mat-icon-button class="menu-button" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>WeThinkCode Hackathon</span>
  <button mat-icon-button class="menu-button">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer mode="over" [opened]="sideNav">
    <a routerLink="/login"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    (click)="drawer.toggle()"
    mat-icon-button class="nav-item">
      Login
    </a>

    <a routerLink="/join"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    (click)="drawer.toggle()"
    mat-icon-button class="nav-item">
      Join a Hackathon
    </a>

    <a routerLink="/join"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    (click)="drawer.toggle()"
    mat-icon-button class="nav-item">
      Join a Hackathon
    </a>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
